{% extends 'core/base.html' %}
{% load static %}

{% block content %}
        <!-- Start Page Title Area -->
        <div class="page-title-area imgbanner2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2 class="text-white">About Us</h2>
                            <h5 class="text-white text-center mt-3">A.Roy webtechno has the creative competence and expertise in technology for developing the websites.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start About Section -->
        <section class="about-section pt-100 pb-0">
            <div class="container">
                <div class="row align-items-center">                 
                        <div class="about-area-content">
                            
                            <h3>About A.Roy webtechno</h3>
                            <strong>A.Roy webtechno.com possesses creative potential and expertise in technology for developing websites, mobile applications, and SEO.
                                Our team has a strategy as well as a strategy to make a great impact on the internet market with appropriate brand communication. Prwebtechno.com has substantial experience in the field of website design, Mobile Application Development, SEO, and web-based applications.
                                Our team members are highly skilled and each of us discovers the latest technology. Within our team, we have a unique confluence of skills and intelligence. We are creative enough to implement innovative ideas and always want to learn something new. With our skills, we are able to satisfy customers with each of their queries.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
        <!-- End About Section -->

        <!-- Start Services Section -->
        <section class="services-section">
            <div class="container">
                <div class="section-title">
                    <h3>How We Can Help?</h3>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon bg-faddd4">
                            <i class="flaticon-landing-page"></i>
                        </div>
                            <h3>Search Enginee Optimization</h3>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon bg-cafbf1">
                                <i class="flaticon-goal"></i>
                            </div>
                            <h3>App store optimization </h3>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon bg-ddd5fb">
                                <i class="flaticon-contract"></i>
                            </div>
                            <h3>E-Commerce Consulting</h3>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon bg-fcdeee">
                                <i class="flaticon-application"></i>
                            </div>
                            <h3>Social Media Optimizations</h3>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon bg-c5ebf9">
                                <i class="flaticon-seo"></i>
                            </div>

                            <h3>Search Engine Marketing</h3>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon bg-f8fbd5">
                                <i class="flaticon-data-recovery"></i>
                            </div>
                            <h3>Online Media Management</h3>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="default-animation">
                <div class="shape-img1"><img src="{% static 'core/img/shape/12.svg'%}" alt="image"></div>
                <div class="shape-img2"><img src="{% static 'core/img/shape/13.svg'%}" alt="image"></div>
                <div class="shape-img3"><img src="{% static 'core/img/shape/14.png'%}" alt="image"></div>
                <div class="shape-img4"><img src="{% static 'core/img/shape/15.png'%}" alt="image"></div>
                <div class="shape-img5"><img src="{% static 'core/img/shape/2.png'%}" alt="image"></div>
            </div>  
        </section>
        <!-- End Services Section -->


        <!-- Start About Section -->
        <section class="about-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="{% static 'core/img/about-image.png'%}" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-area-content">
                            <h3>We are Dynamic Team of Digital Agency</h3>
                            <strong"><p style="text-align: justify;">We are a dynamic team of the best digital marketing agency in the area.
                                Our dynamic team consists of several expert professionals providing different services like SEO, SMO, SEM, ORM, website designing and mobile application development. 
                                Our ethical white hat SEO service will put on top of google rankings that can generate the maximum number of leads for you that can be easily converted into customers.
                            </p> </strong>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-6 col--6">
                                <div class="single-fun-facts">
                                    <h3><span class="odometer" data-count="500">00</span><span class="sign-icon">+</span></h3>
                                    <p>Project Completed</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-6 col-6">
                                <div class="single-fun-facts">
                                    <h3><span class="odometer" data-count="450">00</span><span class="sign-icon">+</span></h3>
                                    <p>Satisfied Clients</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
        <!-- End About Section -->

        <!-- Start Features Area -->
        <section class="features-area">
            <div class="container">
                    <h3>ARoywebtechno: Area of Strength:</h3>
                    <p>A pool of talented and experienced Digital consultants and professionals who love keeping themselves updated with the latest developments in the field of Digital and SEM.
                        Prwebtechno has moved on with the philosophy of perfection. Perfection is possible if we are able to satisfy our clients. No matter what our clients may demand website, Mobile Application development & SEO we offer them and satisfy them with our service.</p>
                    </div>

                    <div class="container">
                        <h3>Our Objective:</h3>
                        <p>To be the most trusted and fully integrated Digital/SEO/SEM Company that provides quality and economical Digital/SEO/SEM Services to your web-based business globally.
                            To provide your website a better traffic, revenue & more users by 100% digital ethical processes. And help you maximize your Return-On-Investment (ROI).
                            Build a long-lasting relationship with our clients by ensuring to deliver within the specified period of time.
                            Encourage innovation in our Digital marketing strategy that helps us to explore new areas and to hone our expertise in this domain.
                            To deliver the best possible result by utilizing the best available resources.</p>
                        </div>

                        <div class="container">
                            <h3>Quality:</h3>
                            <p>Quality has been the key to our success as we provide high-quality services for web designing & development, Mobile Application development, and SEO. With time our business has been increasing at all verticals especially in the domestic and international markets. We are committed professionals who ensure customer satisfaction with quality work and timely delivery.</p>
                            </div>
        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Area -->


       <!-- Start Team Section -->
        <section class="team-section ptb-100">
            <div class="container">
                <div class="section-title">
                    <h3>Meet Our Team</h3>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item-area">
                            <div class="team-image">
                                
                            </div>
                            <div class="team-content">
                                <img src="{% static 'core/img/team/pritesh.png'%}" class="rounded-circle" alt="profile" width="100px">
                                <h3>Pritesh Rao</h3>
                                <span>CEO & Founder</span>

                                <ul class="team-social">
                                    <li>
                                        <a href="https://www.facebook.com/pritesh.prasad.90">
                                            <i class="flaticon-facebook-logo"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://twitter.com/priteshprasad35?s=09">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.paypal.com/paypalme/prwebtechno">
                                            <i class="flaticon-paypal"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://in.linkedin.com/in/pritesh-rao-016897180">
                                            <i class="flaticon-linkedin-letters"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item-area">
                            <div class="team-image">
                            
                            </div>

                            <div class="team-content">
                                <img src="{% static 'core/img/team/2.png'%}" class="rounded-circle" alt="profile" width="165px">
                                <h3>Abhishek Roy</h3>
                                <span>Sales Manager</span>

                                <ul class="team-social">
                                    <li>
                                        <a href="//www.facebook.com/Abhishek.Roy.90">
                                            <i class="flaticon-facebook-logo"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="//www.instagram.com/Annie.Frame.">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="flaticon-paypal"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="flaticon-linkedin-letters"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="team-item-area">
                            <div class="team-image">
                        
                            </div>

                            <div class="team-content">
                                <img src="{% static 'core/img/team/abhi.jpeg'%}" class="rounded-circle" 
                                alt="profile" width="100px">
                                <h3>Abhishek Roy</h3>
                                <span>Web Developer</span>

                                <ul class="team-social">
                                    <li>
                                        <a href="//www.facebook.com/Abhishek.Roy.90">
                                            <i class="flaticon-facebook-logo"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="//www.instagram.com/Annie.Frame.">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="flaticon-paypal"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="flaticon-linkedin-letters"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="team-animation">
                <div class="shape-img1"><img src="{% static 'core/img/shape/7.png'%}" alt="image"></div>
                <div class="shape-img2"><img src="{% static 'core/img/shape/9.png'%}" alt="image"></div>
                <div class="shape-img3"><img src="{% static 'core/img/shape/7.png'%}" alt="image"></div>
                <div class="shape-img4"><img src="{% static 'core/img/shape/9.png'%}" alt="image"></div>
                <div class="shape-img5"><img src="{% static 'core/img/shape/9.png'%}" alt="image"></div>
            </div>
        </section>
        <!-- End Team Section -->

{% endblock content %}